<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings>
  <add name="cnn" connectionString="Dsn=CENTRAL;uid=admin;pwd=century2000" providerName="System.Data.Odbc" />

		<add name ="sql" connectionString="data source =10.120.1.190\sql_2019; initial catalog = GDMS_ANTAPACCAY; user id = admin; password = century2000"/>
		<add name ="prueba" connectionString="data source = 10.120.1.190\sql_2019; initial catalog = GDMS_ANTAPACCAY; user id = admin; password = century2000"/>
	</connectionStrings>
</configuration>